.create-organization-box {
	background-color: antiquewhite;
	padding: 2vw;
	border-radius: 15px;
	display: flex;
	align-items: center;
	width: 20%;
	transition: transform 0.2s;
}

.create-organization-box:hover {
	transform: scale(1.05);
}

.create-organization-link {
	text-decoration: none;
	color: black;
}

.create-organization-link:any-link {
	text-decoration: none;
	color: black;
}