.content-outer-wrapper {
	min-height: 95vh;
	width: 100vw;
	display: flex;
	justify-content: center;
}

.content-wrapper {
	width: 90vw;
}

.content-group {
	display: flex;
	flex-direction: column;
	gap: 50px;
}

.full-name-group {
	display: grid;
	grid-template-columns: 3fr 3fr 3fr;
	width: 40%;
	margin: 20px 0;
}