.main-screen {
	min-height: 100vh;
}

.first-section {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 95vh;
}

.header-block {
	background-color: antiquewhite;
	padding: 2vw 5vw;
	border-radius: 15px;
}

.header-block h1 {
	font-size: 80px;
	margin-bottom: -2vh;
}

.header-block h2 {
	font-size: 30px;
	font-weight: 200;
}