.registration-section {
	height: 95vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

.form-data-block {
	background-color: antiquewhite;
	padding: 2vw;
	border-radius: 15px;
	display: flex;
	flex-direction: column;
	gap: 2vh;
	width: 400px;
}